#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;

}

.mainPage {
  border: 1px solid black;
  padding: 30px;
  text-align: center;
  width: 550px;
  height: 650px;
  margin-right: 20px;
  border-radius: 6px;

  
}

.sideBar {
  border: 1px solid black;
  width: 15%;
  border-radius: 6px;
}